extends base

block title
  title #{site.title} by #{site.author}

block content
  each p in pagination.files
    +post(p)

  nav
    each page in pagination.pages
      a(href=`/page/${page.pagination.num}/` class=pagination.num === page.pagination.num ? "current" : null)= page.pagination.num
