mixin post(p)
  article
    h2
      a(href=`/${p.path}/`)= p.title
    section
      != p.contents
    footer
      ul
        li
          a(href=`/tag/${p.category}/`) ##{p.category}
        li
          a(href=`/${p.path}/`) permalink
