@import "./sanitize.css";
@import "./typography.css";
@import "./code.css";

$base: #07c;
$black: #374047;
$gray0: #f8f9f9;
$gray1: #ebedee;
$gray2: #dee1e3;
$gray3: #cfd3d6;
$gray4: #bec4c8;
$gray5: #acb4b9;
$gray6: #97a1a7;
$gray7: #7f8a93;
$gray8: #5f6e78;
$gray9: #374047;
$blue0: #e4f0f9;
$blue1: #c6e1f3;
$blue2: #a5cfed;
$blue3: #7db9e5;
$blue4: #4a9eda;
$blue5: #0077cc;
$blue6: #006bb7;
$blue7: #005da0;
$blue8: #004d84;
$blue9: #00365d;
$cyan0: #e3f9f7;
$cyan1: #c4f3ef;
$cyan2: #a0ece5;
$cyan3: #77e3da;
$cyan4: #44d9cd;
$cyan5: #00ccbb;
$cyan6: #00b8a9;
$cyan7: #00a294;
$cyan8: #00867b;
$cyan9: #006159;

$mobile: "only screen and (max-width: 544px)";
$tablet: "only screen and (max-width: 768px)";
$desktop: "only screen and (min-width: 1000px)";

@mixin links-color($color: $blue5, $hover: $blue4) {
  a[href] {
    color: $color;
    text-decoration: none;

    &:hover,
    &:active {
      color: $hover;
    }
  }
}

html {
  font-size: 62.5%;
  line-height: 1;
  background-color: $gray1;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  color: $black;
  margin: 0 auto;
  max-width: 80rem;

  @media #{$mobile} {
    max-width: 100%;
  }

  a[href] {
    color: $blue5;
    &:hover,
    &:active {
      color: $blue4;
    }
  } // a[href]

  & > header {
    padding-top: 4.8rem;
    margin: 0 0 6.4rem;

    @media #{$mobile} {
      padding-top: 2.4rem;
      margin: 0 0 3.2rem;
    }

    & > h1 {
      margin: 0;
      font-family: "Secular One", sans-serif;
      font-weight: normal;
      font-size: 12.8rem;
      text-align: center;

      @media #{$mobile} {
        font-size: 6.4rem;
      }

      a {
        text-decoration: none;
      } // a
    } // h1

    & > h2 {
      margin: 0;
      text-transform: uppercase;
      color: $gray6;
      font-size: 3rem;
      font-weight: normal;
      letter-spacing: 0.42rem;
      text-align: center;

      @media #{$mobile} {
        font-size: 1.5rem;
        letter-spacing: 0.22rem;
      }
    } // h2
  } // header

  & > main {
    flex: 1;

    & > article {
      background-color: $gray0;
      padding: 3.2rem;
      margin: 0 0 4.8rem;
      box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.05);

      @media #{$mobile} {
        margin-bottom: 2.4rem;
      }

      & > h2 {
        margin: 0 0 2.4rem;
        font-family: "Secular One", sans-serif;
        font-weight: normal;
        font-size: 2.4rem;
        @include links-color($black, $blue5);
      } // h2

      & > aside {
        margin: -3.2rem -3.2rem 3.2rem;
        background-color: $cyan0;
        color: $cyan9;
        font-weight: normal;
        padding: 0.8rem;
        font-size: 1.4rem;
      }

      & > section {
        font-size: 1.6rem;
        line-height: 2.4rem;

        .twitter-tweet {
          margin: 3.2rem auto !important;
        }
      } // section

      & > footer {
        margin: 0 -3.2rem -3.2rem;

        & > ul {
          margin: 3.2rem 0 0;
          padding: 0;
          display: flex;
          list-style-type: none;
          border-top: 1px solid $gray2;

          & > li {
            flex: 1;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.4rem;
            border-right: 1px solid $gray2;

            &:last-child {
              border-right: none;
            }

            .icon {
              margin-right: 0.8rem;
            }

            a {
              padding: 1.6rem;
              display: inline-block;
              width: 100%;
            }

            @include links-color($cyan7, $cyan5);
          } // li
        } // ul
      } // footer
    } // article

    & > nav {
      text-align: center;
      margin-top: 4.8rem;

      @include links-color($cyan7, $cyan5);

      a {
        display: inline-block;
        font-size: 2.4rem;
        padding: 1.6rem;
        font-weight: bold;
        text-decoration: none;
        margin-right: 1.6rem;

        &:last-child {
          margin-right: 0;
        }
        &.current,
        &:hover,
        &:active {
          background-color: $gray0;
        }
      } // a
    } // nav
  } // main

  & > footer {
    text-align: center;
    margin-top: 3.2rem;
    border-top: 1px solid $gray4;
    color: $gray7;
    padding: 2.4rem;

    @include links-color($cyan7, $cyan5);
  } // footer
} // body

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: $black;
}
